/* DaTouWang URL: www.datouwang.com */
body {
    background: pink url("bj.jpg") no-repeat center;
    font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/* Header */
.datouwang-header {
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    text-align: center;
}

    .datouwang-header h1 {
        font-weight: 600;
        font-size: 2em;
        line-height: 1;
        margin-bottom: 0;
    }
